torch>=2.2
fairscale
fire
sentencepiece
autonvtx
transformers>=4.40.0
accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
peft
py7zr
scipy
optimum
matplotlib
gradio
chardet
openai
typing-extensions==4.8.0
tabulate